.container {
	overflow: hidden;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	min-height: 150px;
	min-width: 250px;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 200px;
}

.lineText {
	position: absolute;
	left: 48%;
	top: -8px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.8);
}
