.rowList {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.defaultContainer {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.subtitle {
	color: #f0f0f0;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

