.box {
	display: inline;
	padding: 2px;
	padding-right: 10px;
	padding-left: 7px;
}

.yellowBox {
	composes: box;
	background: rgba(235, 184, 85, 0.7);
	border: 1px solid #ebb855;
	border-radius: 2px;
}

.redBox {
	composes: box;
	background: rgba(251, 81, 91, 0.7);
	border: 1px solid #fb515b;
	border-radius: 2px;
	margin-right: 7px;
}

.container {
	display: flex;
	column-gap: 4px;
	align-items: center;
}

.image {
	display: inline-flex;
	width: 15px;
	height: 17px;
}
