.container {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	overflow: hidden;
}
.innerContainer {
	display: flex;
	flex-direction: column;
}
.container a {
	/*color: #f0f0f0;*/
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	text-decoration-line: underline;
	position: relative;
}
