.tabsContainer {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}
.alignCenterFlex {
	display: flex;
	align-items: center;
	gap: 4px;
}
.listContainer {
	display: flex;
	align-items: center;
}
.keysContainer {
	display: flex;
	flex-direction: row;
	width: 150px;
}
.valuesContainer {
	display: flex;
	flex-direction: row;
}
.group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

ul.bulletList {
	list-style-type: disc;
	padding-left: 20px;
}

ul.bulletList li {
	color: white;
	font-family: 'Arial', sans-serif;
	margin-bottom: 10px;
}
h6 {
	color: #f0f0f0;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
span {
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
}
.label {
	color: #bbb;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	min-width: 120px;

}
.redText {
	color: #F14C4C;
}

.greenText {
	color: #3EB065;
}