.container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	color: #a0a0a0;
	font-weight: 400;
	padding: 6px 10px;
	cursor: pointer;
	background: none;
	border: none;
}

.container:hover {
	color: #ffffff;
	background: #37373c;
}

.file {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.snippet {
	color: #75beff;
	font-family: 'Overpass Mono', monospace;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}

.showMoreLabel {
	color: #d4d4d4;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-decoration-line: underline;
}

.number {
	background: #454545;
	border-radius: 20px;
	display: flex;
	font-size: small;
	font-weight: 500;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	width: 21px;
	height: 21px;
	flex-shrink: 0;
	flex-grow: 0;
}

.row {
	line-break: anywhere;
	margin-right: 3px;
}

.badge {
	margin-left: auto;
}

.container:hover .number {
	background: #6c6cc4;
}

.line {
	display: flex;
	align-items: center;
}

.btn {
	color: rgba(160, 160, 160, 1);
	border: none;
	font-style: normal;
	font-weight: 500;
	cursor: pointer;
}

.btnHover,
.btn:hover:enabled {
	background: #252526;
	color: #ffffff;
}
.flexCenter {
	display: flex;
	align-items: center;
	width: 100%;
}

.rowContainer {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	width: 100%;
	gap: 8px;
}

.connector {
	width: 1px !important;
	background-color: #7f7f7f;
	max-height: 20px;
	flex: 1;
}

.button {
	display: flex;
	cursor: pointer;
}
.button:hover {
	background-color: #3b3b3b;
}
.button:before {
	max-width: 0;
}

.timeline {
	flex: 1;
	cursor: pointer;
	overflow: hidden;
}
.timeline:hover {
	background: #3b3b3b;
}
.timeline:before {
	max-width: 0;
	padding: 0;
}

.timelineDot {
	display: flex;
	width: 20px;
	height: 20px;
	margin: 0;
	font-size: 12px;
	align-items: center;
	justify-content: center;
	color: #f0f0f0;
	cursor: pointer;
	box-shadow: none;
	background-color: #454545;
}

.timelineDotBlue {
	background-color: #007acc;
}

.timelineDotFirst {
	margin-top: 19px;
}

.timelineDotExpandMinimizeButton {
	background-color: #bbb;
}

.timelineContent {
	display: flex;
	align-items: center;
	gap: 6px;
	text-wrap: nowrap;
	overflow: hidden;
}

.analysisStepsListElement {
	display: flex;
	justify-content: left;
	padding: 0;
}
