.container {
    display: flex;
    justify-content: space-between;
    color: #A0A0A0;
    font-weight: 400;
    padding: 6px 10px;
    cursor: pointer;
}

.container:hover {
    color: #ffffff;
    background: #37373C;
}

.file {
    display: flex;
    justify-content: space-around
}

.number {
    background: #454545;
    border-radius: 20px;
    display: flex;
    font-size: small;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 21px;
    height: 21px;
    flex-shrink: 0;
    flex-grow: 0;
}

.row {
    margin-right: 3px;
    margin-top: 2px;
}

.snippet{
    margin-top: 2px;
}

.container:hover .number {
    background: #6C6CC4;
}

.line {
    display: flex;
    align-items: center;
}

.btn {
    color: rgba(160, 160, 160, 1);
    border: none;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
}

.btnHover,
.btn:hover:enabled {
    background: #252526;
    color: #ffffff;
}