.arrowDown {
	display: inline-flex;
	transform: rotate(180deg);
	transition: transform 800ms ease;
	margin-right: 5px;
}

.arrowUp {
	display: inline-flex;
	margin-right: 5px;
	transition: transform 800ms ease;
}

.text {
	color: #fff;
}

.btn {
	cursor: pointer;
	margin-top: 7px;
}
