.label {
    color: #bbb;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    min-width: 120px;
}
.subtitle {
    color:  #F0F0F0;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}