.collapseHeaderWrapper {
	cursor: pointer;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.expandIcon {
	display: flex;
	width: 24px;
	height: 24px;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	background: #454545;
}
h1 {
	color: #f0f0f0;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	display: flex;
	align-items: center;
	gap: 12px;
}
.collapseHeader {
	text-transform: uppercase;
	font-weight: 600;
	margin-right: 6px;
}

.collapseContent {
	-moz-transition: height 0.5s;
	-ms-transition: height 0.5s;
	-o-transition: height 0.5s;
	-webkit-transition: height 0.5s;
	transition: height 0.5s;
	overflow: hidden;
	margin-top: -20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #454545;
}

.collapseText {
	padding: 10px;
	color: rgba(255, 255, 255, 0.8);
	line-height: 1.5;
}

.arrowUp {
	display: inline-flex;
	margin-right: 5px;
	transition: transform 800ms ease;
}

.markdownText {
	color: rgba(255, 255, 255, 0.8);
	line-height: 1.5;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.accordion {
	background: #333;
	color: #f0f0f0;
	box-shadow: none;
	border-radius: 6px;
	width: 100%;
	min-width: 230px;
}
.accordionDetails {
	padding: 0 16px 16px 16px;
}
