.container {
  display: flex;
  height: 2.4em;
}

.btn {
  background-color: #292929;
  color: rgba(255, 255, 255, 0.8);
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  flex: 1;
  transition: transform 100ms ease;
  cursor: pointer;
}

.btnHover,
.btn:hover:enabled {
  background: #1e1e1e;
  color: #ffffff;
  transform: translateY(-0.3rem);
  transition: transform 100ms ease;
}

.btnNotAllowed {
  display: none;
}
