input {
  color: rgba(201, 208, 227, 1);
  background: #1e1e1e;
  padding: 5px;
  border: 1px solid rgba(128, 141, 146, 1);
  border-radius: 4px;
  justify-content: center;
  align-items: flex-start;
  width: 265.33px;
  height: 28px;
}

input:focus {
  outline: none;
}
