.key {
	color: #BBB;
	display: inline-block;
	width: 150px;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
}

.value {
	color: #F0F0F0;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
}
