.key {
	color: #bbb;
	display: inline-block;
	width: 150px;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
}

.value {
	color: #f0f0f0;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
}
