.text {
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Overpass Mono', monospace;
	line-height: 1.5;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

a {
	color: rgba(255, 255, 255, 0.8);
}

code {
	margin: 0;
	font-size: 85%;
	color: #e8912d;
	background-color: rgb(30, 30, 30);
	border-radius: 6px;
	width: 100%;
}
