@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('./assets/fonts/opensans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Overpass Mono';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('./assets/fonts/overpass_mono/OverpassMono-Regular.ttf') format('truetype');
}
.app {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 13px;
	height: calc(100vh);
}
.appBody {
	color: white;
	padding: 15px;
}

.loading {
	align-items: center;
	display: flex;
	justify-content: center;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #252526;
	margin: 0;
	padding: 0;
}

.PageContainer {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	height: 100%;
}
